<div id="<%= dom_id order %>">
  <p>
    <strong>Report:</strong>
    <%= order. report %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= order. role %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= order. supplier %>
  </p>

  <p>
    <strong>User:</strong>
    <%= order. user %>
  </p>

</div>
