<div id="<%= dom_id order_item %>">
  <p>
    <strong>Order:</strong>
    <%= order_item. order %>
  </p>

  <p>
    <strong>Report:</strong>
    <%= order_item. report %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= order_item. role %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= order_item. supplier %>
  </p>

  <p>
    <strong>User:</strong>
    <%= order_item. user %>
  </p>

</div>
