<div id="<%= dom_id inventory_transaction %>">
  <p>
    <strong>Location:</strong>
    <%= inventory_transaction. location %>
  </p>

  <p>
    <strong>Order item:</strong>
    <%= inventory_transaction. order_item %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= inventory_transaction. order %>
  </p>

  <p>
    <strong>Report:</strong>
    <%= inventory_transaction. report %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= inventory_transaction. role %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= inventory_transaction. supplier %>
  </p>

  <p>
    <strong>User:</strong>
    <%= inventory_transaction. user %>
  </p>

</div>
