<div id="<%= dom_id category %>">
  <p>
    <strong>Inventory transaction:</strong>
    <%= category. inventory_transaction %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= category. location %>
  </p>

  <p>
    <strong>Order item:</strong>
    <%= category. order_item %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= category. order %>
  </p>

  <p>
    <strong>Report:</strong>
    <%= category. report %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= category. role %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= category. supplier %>
  </p>

  <p>
    <strong>User:</strong>
    <%= category. user %>
  </p>

</div>
