<div id="<%= dom_id product %>">
  <p>
    <strong>Category:</strong>
    <%= product. category %>
  </p>

  <p>
    <strong>Inventory transaction:</strong>
    <%= product. inventory_transaction %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= product. location %>
  </p>

  <p>
    <strong>Order item:</strong>
    <%= product. order_item %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= product. order %>
  </p>

  <p>
    <strong>Report:</strong>
    <%= product. report %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= product. role %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= product. supplier %>
  </p>

  <p>
    <strong>User:</strong>
    <%= product. user %>
  </p>

</div>
