<%= form_with(model: location) do |form| %>
  <% if location.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label : order_item, style: "display: block" %>
    <%= form.text_field : order_item %>
  </div>

  <div>
    <%= form.label : order, style: "display: block" %>
    <%= form.text_field : order %>
  </div>

  <div>
    <%= form.label : report, style: "display: block" %>
    <%= form.text_field : report %>
  </div>

  <div>
    <%= form.label : role, style: "display: block" %>
    <%= form.text_field : role %>
  </div>

  <div>
    <%= form.label : supplier, style: "display: block" %>
    <%= form.text_field : supplier %>
  </div>

  <div>
    <%= form.label : user, style: "display: block" %>
    <%= form.text_field : user %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
