<div id="<%= dom_id location %>">
  <p>
    <strong>Order item:</strong>
    <%= location. order_item %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= location. order %>
  </p>

  <p>
    <strong>Report:</strong>
    <%= location. report %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= location. role %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= location. supplier %>
  </p>

  <p>
    <strong>User:</strong>
    <%= location. user %>
  </p>

</div>
